@inject IModalService ModalService

<div >
    <div class="p-2">
        <EditForm Model="@RecordItem" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="QuestionTitle">問題主題</label>
                <InputText id="QuestionTitle" class="form-control" @bind-Value="@RecordItem.QuestionTitle" />
            </div>
            <div class="form-group">
                <label for="QuestionDescription">問題說明</label>
                <InputTextArea id="QuestionDescription" class="form-control" @bind-Value="@RecordItem.QuestionDescription" />
            </div>
            <div class="form-group">
                <label for="Answer">問題回覆</label>
                <InputTextArea id="Answer" class="form-control" @bind-Value="@RecordItem.Answer" />
            </div>
            <div class="form-group ">
                <label for="HasAnswer">已回覆</label>
                <div>
                    <InputCheckbox id="HasAnswer" @bind-Value="@RecordItem.HasAnswer" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">儲存</button>
        </EditForm>
    </div>
</div>

@code {
    [CascadingParameter] ModalParameters Parameters { get; set; }

    // 這筆記事的名稱
    QuestionAnswerRecordModel RecordItem { get; set; }

    protected override void OnInitialized()
    {
        // 透過傳遞來的參數，取得當前記事的名稱
        RecordItem = Parameters.Get<QuestionAnswerRecordModel>("RecordItem");
    }

    void HandleValidSubmit()
    {
        if (RecordItem.HasAnswer == true)
        {
            RecordItem.Closed = DateTime.Now;
        }
        else
        {
            RecordItem.Closed = null;
        }
        //使用者確定要刪除，回應 ModalResult.Ok
        ModalService.Close(ModalResult.Ok($""));
    }
}
